<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="certserial" value="‎‎39 42 A2 17 39 F9 39 99 4E 94 48 D7 D6 11 DB EA"/>
  </appSettings>  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>